main {
  width: 600px;
  height: auto;
  background-color: black;
  color: white;
  border-right: 5px solid white;
  border-radius: 50px;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 10px;
  background-color: black;
}
#container .page {
  display: flex;
}
.page-lft .img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
#container .page .page-lft {
  width: 350px;
  height: 1000px;
  border-right: 1px solid white;
  border-radius: 20%;
}
#form {
  margin: 100px;
}
#form {
  margin: 20px;
}
#form .item {
  margin: 20px;
  padding: 10px;
}
#form .text-city {
  padding: 10px;
}
#form .checkbox .text-m {
  margin: 10px;
}

#form .error {
  color: rgb(124, 0, 0);
  background-color: rgb(255, 208, 208);
}
